<p>
Ім'я: <%= @survey.name %>
<br/>
Мобільний: <%= @survey.phone_number %>
<br/>
Кількість гостей: <%= @survey.guest %>
<br/>
Відвідають: <%= @survey.event %>
</p>
<br/>
<% if @survey.message.present? %>
  <p>
    Повідомлення:
  </p>
  <p>
    <%= @survey.message %>
  </p>
<% end %>
